:host {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    main.container {
      height: calc(100vh - 130px - 90px);
      overflow-y: auto;
      padding: 1rem 1rem 0;

      #completed {
        margin-top: 1rem;

        &.only {
          margin: 0;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: var(--black-010);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border: 5px;
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-top: 2px solid var(--black-010);
      padding-top: 1.5rem;
    }

    div.container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      app-add-item {
        width: 100%;
      }

      gap: 1rem;
    }
  }
}
